/* Global */

:root {
  /* App colors */
  --color-primary-varient: var(--color-gray);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #f7f7f7;
  --color-black: #111111;
  --color-gray: #1b1e26;

  /* Size */
  --size-max-width: 1100px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  user-select: none;
  background-color: var(--color-black);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
}

button:focus {
  outline: 1px solid transparent;
}
::-webkit-scrollbar {
  display: none;
}

/* Common */
.section {
  padding: 6rem;
  text-align: center;
}
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}
.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.description {
  font-size: 1.5rem;
  margin: 0.5rem;
}
main {
}

/* Home */
#home {
  background-color: var(--color-black);
  color: var(--color-text);
  padding: 7rem 1rem;
  text-align: center;
  transition: all 300ms ease-in;
}

.home__avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid var(--color-accent);
  border-radius: 100%;
}
.home__title {
  padding: 1.4rem 0;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home__description-container {
  text-align: center;
  margin: 0 auto;
  width: 800px;
  padding-bottom: 4rem;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow-down {
  opacity: 0.5;
  font-size: 1.5rem;
  animation: upAndDown 1s infinite;
  cursor: pointer;
}

/* About */

#about {
  padding: 2rem 0;
  background-color: var(--color-black);
  text-align: left;
}
.list-item-wrapper {
  width: 383px;
  margin: 0 auto;
}
.list-item {
  display: inline;
  font-size: 2.8rem;
  font-weight: 600;
  transition: all 0.1s;
}
.list-item span {
  opacity: 0.1;
}
.list-item#on {
  color: white;
}
.list-item#on span {
  opacity: 1;
}

.hello-img-container {
  overflow: hidden;
  display: flex;
  justify-content: right;
  height: 340px;
  transform: translate(80px, -30px) rotate(0deg);
}

.hello-img {
  height: 340px;
  object-fit: contain;
}

/* Skills */
#skills {
  background-color: var(--color-white);
  height: 100%;
}

.skills-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  background-color: #ffc934;
  max-width: 340px;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--color-white);
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.skill:nth-child(2) {
  background-color: #ce648b;
}
.skill:nth-child(3) {
  background-color: #6791b7;
}
.skill__title {
  font-size: 1.4rem;
}

.skill__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.skill__item {
  display: flex;
  align-items: center;
  opacity: 0.7;
  font-size: 14px;
  gap: 5px;
}
.skill__item img {
  object-fit: cover;
  max-width: 200px;
}

.fade-in {
  opacity: 0;
}

/* Projects */
#projects {
  height: 5000px;
}

.sticky-parent {
  height: 700vh;
}
.sticky {
  position: sticky;
  top: 0px;
  left: 0px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.project__list {
  display: flex;
  scroll-behavior: smooth;
}
.project__list__item {
  margin: 0;
  display: block;
  min-width: 100vw;
  height: 100vh;
  background-image: url("/images/portfolio-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
  border-right: 0.1px solid lightgray;
}
.project__list__item > div {
  padding: 7rem;
  display: flex;
  align-items: center;
  gap: 8rem;
  width: 100vw;
  height: 100vh;
}

.project__list__item__img {
  width: 600px;
  height: 500px;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 0.8rem;
}
.project__text__container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.project__title {
  font-size: 3.8rem;
}
.project__text__container h5 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.project__description {
  margin-top: 0.3rem;
  font-size: 15px;
  opacity: 0.6;
}
.project__author {
  font-size: 12px;
  color: gray;
  opacity: 0.8;
  text-align: end;
  margin-top: 0.2rem;
  margin-bottom: 3rem;
}

.project__link {
  margin-top: 3rem;
  background-color: var(--color-black);
  width: 120px;
  padding: 8px 12px;
  text-align: center;
  border-radius: 4px;
  transition: opacity 0.3s;
}
.project__link:hover {
  opacity: 0.8;
}

/* Contact */
#contact {
  background-color: var(--color-black);
  height: 100vh;
  color: var(--color-white);
  padding-top: 14rem;
  position: relative;
}

.contact__container {
  margin: 0 auto;
  width: 500px;
}

.contact__container h3 {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-family: "Raleway";
  margin-bottom: 4rem;
}

.contact__container img {
  width: 250px;
  animation: upAndDown 1s infinite;
}
.contact__icon__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact__icon__tistory {
  width: 32px;
  height: 32px;
}
.fa-envelope {
  font-size: 1.6rem;
  opacity: 0.6;
  transform: translateY(-2px);
}
.email {
  position: absolute;
  bottom: 1.2rem;
  left: 2rem;
  font-size: 12px;
  color: gray;
  opacity: 0.7;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.email img {
  width: 40px;
  transform: translateY(-2px);
}
.copyrights {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2rem;
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  font-size: 12px;
  color: gray;
  opacity: 0.7;
}
